PORT=1234

DB_HOST=db
DB_PORT=5432
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_RESET_SECRET=your_jwt_reset_secret
JWT_EXPIRATION=24h

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_REGISTER_VERIFY_SERVICE_SID=your_twilio_register_verify_service_sid
TWILIO_RECOVER_PASSWORD_VERIFY_SERVICE_SID=your_twilio_recover_verify_service_sid